#banner {
    background-color: #091428;
    display: inline-flex;

}

.button {
    border-style: groove;
    border-color: #785A28;
    padding: 10px;
}

.button:hover {
    border-color: #C8AA6E;
}


#name {
    text-align: center;
}

body {
    color: #C8AA6E;
    background-color: #0A323C;
}

main {
    border-style: groove;
    border-color: #C8AA6E;
    border-width: 10px;
}

#job_position {
    text-align: center;
}

#comp {
    text-align: center;
}

#block1 {
    display: inline-flex;
    margin-left: 25%;
}

#block2 {
    display: inline-flex;
    margin-left: 25%;
}

#logi {
    padding-left: 120px;
}

#quali {
    padding-left: 180px;
}

#expeperso {
    text-align: center;
}

#formation {
    text-align: center;
}